.bg-pink {
  background-color: #d90368;
}

.f-love-day {
  font-family: "LoveDay";
}

.f-u-moe {
  font-family: "UMoe";
}
.home-header {
  position: absolute;
  top: 30%;
}

.z2 {
  z-index: 2;
}

.btn-heart {
  @keyframes pulse {
    25% {
      color: #fff;
      background-color: #d90368;
      border: 2px solid #fff;
    }
    50% {
      color: #d90368;
      background-color: #fff;
      border: 2px solid #d90368;
    }
    75% {
      color: #fff;
      background-color: #d90368;
      border: 2px solid #fff;
    }
  }

  color: #d90368;
  background-color: #fff;
  border: 2px solid #d90368;
  border-radius: 20px;
  box-shadow: #fff 0px 0px 30px;
  animation: pulse 5s infinite alternate;

  &.active {
    transition: 4s;
    &:active {
      transform: scale(80);
      animation: none;
    }
  }
}

.content-card {
  min-width: 80%;
  aspect-ratio: 5/2.3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 180, 196, 1) 52%,
    rgba(217, 3, 104, 1) 100%
  );
  box-shadow: 0px 0px 40px #fff;
  border-radius: 20px;
  transition: 2s;
  position: absolute;
  transform: scale(0.1);
  opacity: 0;
  z-index: 2;
  // right: 120%;

  &.active {
    transform: scale(1);
    opacity: 1;
  }
  .card-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;

    .card-corner {
      width: 40%;
      height: 100%;
      position: absolute;
      transform: scale(1.3);
      top: -100%;
      right: -100%;
      object-fit: contain;
      z-index: 2;
      transition: 2.2s;
      &:hover ~ .card-corner-text {
        &.first {
          opacity: 100%;
          left: 10%;
        }
        &.notice {
          opacity: 0%;
        }
      }
      &.hide {
        transition: 0.5s;
        opacity: 0%;
      }
      &.active {
        top: -21%;
        right: -3%;
      }
    }

    .card-corner2 {
      width: 40%;
      height: 100%;
      position: absolute;
      bottom: -100%;
      left: -100%;
      transform: rotate(7deg);
      object-fit: contain;
      transition: 2.2s;
      z-index: 1;
      &:hover ~ .card-corner-text {
        &.second {
          opacity: 100%;
          left: -10%;
        }
        &.notice {
          opacity: 0%;
        }
      }
      &.hide {
        transition: 0.5s;
        opacity: 0%;
      }
      &.active {
        bottom: -25%;
        left: -7%;
      }
    }

    .card-corner-text {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      font-size: 2.5vw;
      opacity: 0%;

      left: 0%;
      transition: 0.5s;
      &.notice {
        justify-content: center;
        text-align: center;
        color: #d90368;
        opacity: 100%;
        text-shadow: 0px 0px 10px #fff;
        font-size: 4vw;
      }

      &.first {
        justify-content: start;
        color: #d90368;
      }
      &.second {
        justify-content: end;
        color: #fff;
        text-align: right;
      }
    }

    .quiz {
      position: absolute;
      bottom: 2%;
      right: 2%;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.8vw;
    }
  }
}

.quiz-card {
  width: 50%;
  aspect-ratio: 5/3;
  color: #d90368;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 180, 196, 1) 52%,
    rgba(217, 3, 104, 1) 100%
  );
  box-shadow: 0px 0px 40px #fff;
  border-radius: 20px;
  z-index: 2;

  .header {
    font-size: 7vw;
  }

  .quiz-btns {
    font-size: 5vw;
    color: #fff;
    text-shadow: 0px 0px 10px #d90368;
    cursor: pointer;

    .btn-1 {
      &:hover {
        color: #d90368;
        text-shadow: 0px 0px 10px #fff;
      }
      &:active {
        color: white;
      }
    }

    .btn-2 {
      &:hover {
        color: #d90368;
        text-shadow: 0px 0px 10px #fff;
      }

      &:active {
        color: white;
      }
    }
  }
}

.questions-card {
  width: 70%;
  aspect-ratio: 5/2;
  color: #d90368;

  .level1 {
    .header {
      font-size: 6vw;
    }
    .question {
      background-color: #fff;
      border: 1vw solid #d90368;
      box-shadow: 0px 0px 3vw #fff;
      font-size: 4vw;
      &.message {
        font-size: 2vw;
        border: 0.5vw solid #d90368;
      }
    }
    .multiple-choices {
      font-size: 10vw;
      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1vw solid #d90368;
        box-shadow: 0px 0px 3vw #fff;
        margin: 1vw;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
        &:active {
          border: 1vw solid #fff;
        }
      }
    }
  }
  .level2 {
    .header {
      font-size: 6vw;
    }
    .question {
      background-color: #fff;
      border: 1vw solid #d90368;
      box-shadow: 0px 0px 3vw #fff;
      font-size: 4vw;
      &.message {
        font-size: 2vw;
        border: 0.5vw solid #d90368;
      }
    }
    .multiple-choices {
      font-size: 3vw;
      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 0.5vw solid #d90368;
        box-shadow: 0px 0px 3vw #fff;
        margin: 1vw;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
        &:active {
          border: 1vw solid #fff;
        }
      }
    }
  }
}

.result-card{
  width: 65%;
  aspect-ratio: 5/3;
  color: #d90368;
  position: relative;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 180, 196, 1) 52%,
    rgba(217, 3, 104, 1) 100%
  );
  box-shadow: 0px 0px 40px #fff;
  border-radius: 20px;
  z-index: 2;

  .card-text {
    font-size: 4vw;
  }

  .quiz {
      position: absolute;
      bottom: 2%;
      right: 2%;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.8vw;
    }
}

@media only screen and (max-width: 1100px) {
  .content-card {
    width: 96%;
    aspect-ratio: 5/3;
    .card-corner {
      &.active {
        top: -28%;
      }
    }
    .card-corner2 {
      &.active {
        bottom: -29%;
      }
    }
    .quiz {
      font-size: 2vw;
    }
  }
  .quiz-card {
    width: 80%;
  }
  .questions-card {
    width: 80%;
    aspect-ratio: 5/3;
  }
  .result-card {
    width: 80%;
  }
}
